<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-widht, inicial-scale=1">
	<title>Fera Coins - Blockchain</title>
	
	<!-- META TAGS COMPATIBILIDADE -->

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf-8" />

	<!-- META TAGS SEO -->
	<meta name="description" content="Seja fera em Blockchain e Cryptomoedas!">
	<meta name="keyword" content="palavras,separadas,por,virgula">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />

	<!-- META TAGS FONTES E ESTILOS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	
	<!-- META TAGS SMO -->
	<!-- META Tags ESSENCIAIS -->

	<meta property="og:title" content="European Travel Destinations">
	<meta property="og:description" content="Offering tour packages for individuals or groups.">
	<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
	<meta property="og:url" content="http://euro-travel-example.com/app.component.html">
	<meta name="twitter:card" content="summary_large_image">

	<!--  Non-Essential, But Recommended -->

	<meta property="og:site_name" content="European Travel, Inc.">
	<meta name="twitter:image:alt" content="Alt text for image">

	<!--  Non-Essential, But Required for Analytics -->

	<meta property="fb:app_id" content="your_app_id" />
	<meta name="twitter:site" content="@website-username">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146500093-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-146500093-1');
	</script>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NDXFQ2J');</script>
	<!-- End Google Tag Manager -->

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDXFQ2J"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->


</head>

<body>
	
<!--
=====================================================
	HEADER
=====================================================
-->
<header>
	<a href="app.component.html"><img src="../assets/logo.png" alt="Hotel Paraiso"></a>

	<nav>
		<li><a href="">Home</a></li>
		<li><a href="">Conteúdos</a></li>
		<li><a href="">Blockchain</a></li>
		<li><a href="">Cryptomoedas</a></li>

	</nav>
</header>
<!--
=====================================================
	FIM HEADER
=====================================================
-->

<!--
=====================================================
	HERO
=====================================================
-->
<section class="hero">
	<div id="" class="hero-mid">
		<h1>Faltam 3 dias para<br>esse blog explodir</h1>
		<h3>Não perca tempo! receba todo o nosso conteúdo.</h3>
		<a class="btn" href="">Receber Conteúdos</a>
	</div>
</section><!-- hero -->
<!--
=====================================================
	FIM	HERO
=====================================================
-->

<!--
=====================================================
	CONTEUDOS
=====================================================
-->
<section class="container-master column">
		<div class="conteudo">
			<h2>Conteúdos</h2>
		</div>

		<div id="" class="conteudos-wrap">

			<!-- item-blog -->
			<div id="" class="item-blog">

				<div id="" class="item-blog-detalhe item-blog-img-2">

				</div><!-- item-blog-detalhe -->

				<div id="" class="item-blog-texto ">
					<h2>Criptomoedas: confira um passo a passo de como comprar
						</h2>
					<p>	Sabemos que a economia do país não vai bem, por isso, vamos ajudar você com um passo a passo de como investir em criptomoedas corretamente e garantir sua saúde financeira</p>
				</div><!-- item-blog-texto -->

				<a class="btn" href="criptomoedas_confira_um_passo_a_passo.html">Saiba mais >></a>
			</div>
			<!-- item-blog -->
			
			<!-- item-blog -->
			<div id="" class="item-blog">

				<div id="" class="item-blog-detalhe item-blog-img-1">

				</div><!-- item-blog-detalhe -->

				<div id="" class="item-blog-texto">
					<h2>Desmistificando o Bitcoin: confira os riscos e as vantagens para investir</h2>
					<p>Você já deve ter ouvido sobre o que é Bitcoins, nada mais é do que uma criptomoeda (moeda criptografada).</p>
				</div><!-- item-blog-texto -->

				<a class="btn" href="desmistificando_o_bitcoin.html">Saiba mais >></a>
			</div>
			<!-- item-blog -->
			
			<!-- item-blog -->
			<div id="" class="item-blog">

				<div id="" class="item-blog-detalhe item-blog-img-4">

				</div><!-- item-blog-detalhe -->

				<div id="" class="item-blog-texto">
					<h2>Onde e como posso comprar o meu Bitcoin? 
						</h2>
					<p>	Comprar bitcoins parece algo difícil de imaginar? Não mais, descubra aqui onde você pode comprar seu bitcoin e como este procedimento está cada dia mais fácil.</p>
				</div><!-- item-blog-texto -->

				<a class="btn" href="como_comprar_criptomoedas.html">Saiba mais >></a>
			</div>
			<!-- item-blog -->
			
			<!-- item-blog -->
			<div id="" class="item-blog">

				<div id="" class="item-blog-detalhe item-blog-img-3">
					
				</div><!-- item-blog-detalhe -->

				<div id="" class="item-blog-texto">
					<h2>Entenda o que é Bitcoin e Blockchain em 5 minutos 
						</h2>
					<p>	Vamos ajudar você a compreender o que é bitcoin e blockchains e quais os benefícios de compreender cada vez mais sobre esta tecnologia.</p>
				</div><!-- item-blog-texto -->

				<a class="btn" href="entenda_blockchain_em_5_minutos.html">Saiba mais >></a>
			</div>
			<!-- item-blog -->
			

		</div><!-- conteudos-wrap -->

</section>
<!--
=====================================================
	FIM CONTEUDOS
=====================================================
-->

<!--
=====================================================
	PORQUE USAR BITCOIN?
=====================================================
-->
<section class="hero hero2">
	<div class="conteudo">
		<h2 style="color: #fff;">Porque usar bitcoin?</h2>
	</div>
	
</section><!-- hero -->
<!--
=====================================================
	PORQUE USAR BITCOIN?
=====================================================
-->

<!--
=====================================================
	NEWSLETTER
=====================================================
-->
<section class="newsletter">
		<h3>Faça parte da nossa comunidade VIP </h3>
		<p>E receba os melhores conteúdos semanais sobre o mundo das criptomoedas</p>
		<hr>

		<form (ngSubmit)="onSubmit()">

			<div>
				<input type="text" placeholder="Nome" class="form-control" [(ngModel)]="contato.nome" name="nome">
			</div>

		<div>
			<input type="text" placeholder="Email" class="form-control" [(ngModel)]="contato.email" name="email">
		</div>

			<button type="submit">Cadastrar</button>
		</form>
	
</section><!-- newletter -->
<!--
=====================================================
	FIM NEWSLETTER
=====================================================
-->

<!--
=====================================================
	FOOTER
=====================================================
-->
<footer>
	<ul>
		<li><a href=""><i class="fab fa-facebook"></i></a></li>
		<li><a href=""><i class="fab fa-twitter"></i></a></li>
		<li><a href=""><i class="fab fa-linkedin"></i></a></li>
		<li><a href=""><i class="fab fa-instagram"></i></a></li>
	</ul>
	<p>Todos os diretos reservados - Feracoins</p>
</footer>
<!--
=====================================================
	FOOTER
=====================================================
-->

</body>
</html>